* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
.navbar .navbar-brand {
  letter-spacing: 0.2rem;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-family: 'Libre Baskerville', serif;
  color: #F94C10;
  font-weight: 300;
}

.nav-bar>ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.nav-item, .nav-link, .active{
  list-style: none;
  font-size: 1.5rem;
  padding: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
}

.hero {
  min-height: 80vh;
  width: 100%;
  background: url(./images/hero.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main>p {
  font-size: 2rem;
  font-family: 'Lato', sans-serif;
  text-align: center;
}

.heading {
  padding: 2rem;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading>h2 {
  font-size: 3rem;
  font-family: 'Libre Baskerville', serif;
  color: #F94C10;
  text-transform: uppercase;
}
.bio .card-body {
  width: 90%;
  margin: auto;
  font-size: 1.6rem;
  text-align: justify;
  font-family: 'Lato', sans-serif;
}

.band-members {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.band-members>.band-head {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 20vh;
}
.band-head h2 {
  font-size: 2.6rem;
  text-align: center;
  text-transform: uppercase;
  color: #F94C10;
  font-family: 'libre baskerville', serif;
}
.card-title, .card-text {
  color: #FAF3F0;
}
h5.card-title {
  font-size: 2.5rem;
  color: #F94C10;
    font-family: 'libre baskerville', serif;

}
h6.card-title {
  font-size: 1.8rem;
    font-family: 'Lato', sans-serif;

}
.card-text {
    font-family: 'Lato', sans-serif;
font-size: 1.3rem;
text-align: justify;
}
.member {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  gap: 1rem;
  box-shadow: rgb(128, 128, 128) 0px 20px 20px -10px;
}

.member .name {
  font-size: 2rem;
  color: #F94C10;
  font-family: 'libre baskerville', serif;

}

.member .role {
  font-size: 1.5rem;
  font-family: 'libre baskerville', serif;

}

.member .details {
  font-size: 1.3rem;
  font-family: 'Lato', sans-serif;

}

.hits {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.n {
  padding: 2.5rem;
  min-height: 10vh;
  text-align: center;
}

.n h1 {
  font-size: 2rem;
  font-family: 'libre baskerville', serif;
  color: #F94C10;

}
.card {
  width: 50% !important;
  margin: auto;
}
.btn {
  font-size: 1.3rem;
    font-family: 'Lato', sans-serif;
text-transform: capitalize;
margin-left: 0.3rem;
}
.icon {
  padding: 0.5rem;
}
.spotify {
  background: limegreen;
  border: none;
}
.youtube {
  background: red;
  border: none;
}
.foot {
  font-size: 1.4rem;
      font-family: 'Lato', sans-serif;

}
.fa {
  color: #F94C10;
} 
@media (max-width: 680px) {
  .navbar {
    min-height: 10vh;
  }
 .navbar- {
    font-size: 2.4rem;
  }
  .login {
    min-height: 90vh;
  }
  footer {
    min-height: 10vh;
  }
  .copy p{
    font-size: 1rem;
  }
  .fa {
    font-size: 2rem;
  }
  .card {
    width: 80% !important;
    margin: auto;
  }
}