* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #000204;
  color: #FAF3F0;
}

header {
  min-height: 20vh;
  border-bottom: 0.2px solid #F94C10;
}

.nav-bar {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-bar>h1 {
  letter-spacing: 0.2rem;
  font-size: 3.5rem;
  text-transform: uppercase;
  color: #F94C10;
  font-family: 'Libre Baskerville', serif;
  font-weight: 300;
}

.nav-bar>ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.nav-bar>ul li,
a {
  list-style: none;
  font-size: 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #FAF3F0;
  font-family: 'Lato', sans-serif;
}

.hero {
  min-height: 80vh;
  width: 100%;
  background: url(./images/hero.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main>p {
  font-size: 2rem;
  font-family: 'Lato', sans-serif;
  text-align: center;
}

.bio {
  min-height: 100vh;
}

.heading {
  padding: 2rem;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading>h2 {
  font-size: 3rem;
  font-family: 'Libre Baskerville', serif;
  color: #F94C10;
  text-transform: uppercase;
}

.bio p {
  width: 90%;
  margin: auto;
  font-size: 1.6rem;
  text-align: justify;
  font-family: 'Lato', sans-serif;
}

.band-members {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.band-members>.head {
  min-height: 20vh;
  padding: 2rem;
}

.head>h1 {
  font-size: 2.6rem;
  text-align: center;
  text-transform: uppercase;
  color: #F94C10;
  font-family: 'libre baskerville', serif;
}

.member {
  /* border: 1px solid white; */
  border-radius: 7px;
  min-height: 20vh;
  padding: 2rem;
}

.picture {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.member {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  gap: 1rem;
  box-shadow: rgb(128, 128, 128) 0px 20px 20px -10px;
}

.member .name {
  font-size: 2rem;
  color: #F94C10;
  font-family: 'libre baskerville', serif;

}

.member .role {
  font-size: 1.5rem;
  font-family: 'libre baskerville', serif;

}

.member .details {
  font-size: 1.3rem;
  font-family: 'Lato', sans-serif;

}

.hits {
  padding-bottom: 1rem;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

.n {
  padding: 2.5rem;
  min-height: 10vh;
  text-align: center;
}

.n h1 {
  font-size: 2rem;
  font-family: 'libre baskerville', serif;
  color: #F94C10;

}

.songs {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 60%;
  margin: auto;
  min-height: 20vh;
  box-shadow: rgba(255, 255, 255, 0.25) 0px 25px 50px -12px;
  padding: 2rem;
  border-radius: 1rem;
  text-align: center;
}

.songs img {
  height: 200px;
  width: 200px;
}
.songs h2 {
  font-family: 'libre baskerville', serif;
  color: #F94C10;
  font-size: 2.5rem;
}
.songs p{
  text-align: center;
  font-size: 1.6rem;
  font-family: 'Lato', sans-serif;
  
}
.songs a {
  font-size: 2rem
}
.login {
  min-height: 80vh;
  background: url(./images/login.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
.login h1 {
  font-family: 'libre baskerville', serif;
  text-transform: uppercase;
  color: #F94C10;
}
form {
  padding: 2rem;
  border: 1px solid white;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  
}
form input {
  color: #FAF3F0;
  font-family: 'Lato', sans-serif;
  padding: 1rem 1.5rem;
  border: none;
  border-bottom: 0.3px solid #F94C10;
  border-radius: 2px;
  background: none;
}
form button {
  color: #FAF3F0;
  padding: 0.5rem 1.5rem;
  border: 0.2px solid #F94C10;
  background: none;
  border-radius: 4px;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  
}
footer {
  border-top: 1px solid white;
  padding: 1.5rem;
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
}
.copy{
  border-bottom: 0.3px solid #F94C10;
  padding: 1rem;
}
.copy p {
  text-transform: uppercase;
  font-size: 1.7rem;
   font-family: 'Lato', sans-serif;
}
.fa {
  color: #F94C10;
  font-size: 3rem;
  padding: 1.5rem;
} 
@media (max-width: 680px) {
  header {
    min-height: 10vh;
  }

  .nav-bar {
    flex-direction: column;
    gap: 2rem;
  }

  .nav-bar>h1 {
    font-size: 2.4rem;
  }
  .login {
    min-height: 90vh;
  }
  footer {
    min-height: 10vh;
  }
  .copy p{
    font-size: 1rem;
  }
  .fa {
    font-size: 2rem;
  }
}